/* begin introduction section */
.intro{
	padding: 0vw 2vw 4vw 4vw;
    font-family:Georgia;
}
/* end introduction section */
/* begin contact section */
#icon{
	font-size:4vw;
    color:#B7D5D4;
    display: inline-block;
	padding: 1vw 3vw;
    
}
.iformat{
	text-align: center;
    
}
/* end contact section */
/* begin instagram feed */
.instagramfeed{
	padding: 0vw 20vw 0vw 20vw;
}
/* end instgram feed */
