/* begin contact section */
/* resume button */
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  float:right;
  cursor: pointer;
}
/* social media */
.button1 {
background-color: #4CAF50;
} /* Green */

#icon{
	font-size:4vw;
    	color:#B7D5D4;
	padding:3vw;
}
.iformat{
	text-align: center;
}

/* end contact section */
