.button {
  border: none;
  color: white;
  padding: 1vw 2vw;
  /*padding-bottom:*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  margin: 1vw 2vw;
  
  cursor: pointer;
}
/* social media */
.button1 {
background-color: #4CAF50;
} /* Green */

#icon{
	font-size:4vw;
    color:#B7D5D4;
    display: inline-block;
	padding:3vw;
    
}
.iformat{
	text-align: center;
    
}

/* end contact section */
